/* ==================================================
    BASE
================================================== */

body {
    background-color: #cfd5e0;
    margin: 0;
    padding-top: 70px;
}

.footer-div {
    width: 130px; /*Width of the text. If text changes, modify this*/
    margin: 0 auto;
}

/* ==================================================
    HEADER
================================================== */

.main-header {
    display: flex;
    background-color: #6cc9ff;
    height: 80px;
    justify-content: flex-end; /* Places main header at bottom/end of column */
    flex-direction: row;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgb(0, 0, 0, .4);
    z-index: 1;
    transition: .5s;
}

.site-logo {
    align-self: center;
    width: 140px;
    padding-left: 1em;
    padding-top: 0;
}

.site-logo img {
    width: 175px;
    height: auto;
    transition: .5s;
}

.search-bar {
    align-self: center; /* Vertical align */
    margin: 0 auto;
    transition: .5s;
}

.search-bar input {
    height: 25px;
    width: 200px;
    border-radius: 5%;
}

/* ==================================================
    ITEM
================================================== */

.item img {
    max-width: 100px;
    height: auto;
    box-shadow: 0px 7px 5px grey;
}

.item-list {
    padding-top: 30px;
    list-style: none;
}

.item p {
    display: inline-block;
}

/* ==================================================
    BUTTONS
================================================== */

button[type="submit"] {
    border: none;
    color: #eee;
    background-color: #50bfff;
    display: inline-block;
    width: 80px;
    height: 30px;
}

button[type="submit"]:hover {
    box-shadow: 0 0 5px grey;
}

/* ==================================================
    CATEGORIES
================================================== */

.categories {
    position: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 100px;
    padding-top: 50px;
    padding-left: 20px;
}

.categories img {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}