<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaupa | Second Hand Market</title>

    <link rel="stylesheet" href="../CSS/base.css" />
    
    <script src="../JS/stickynav.js"></script>
</head>

<body>
    <div class="container">
        <header class="main-header">
            <a class="site-logo" href="../Index.html">
                <img class="site-logo-image" src="../Resources/Logo.png" alt="Logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Sök"  /> <!-- &#x1F50E; -->
            </div>
        </header>

        <div class="container body-content">
            <ul class="item-list">
                <li class="item">
                    <a href="Item1.html">
                        <img src="https://www.elgiganten.se/image/dv_web_D180001002281018/79129/steelseries-apex-pro-tangentbord-foer-gaming.jpg?$fullsize$">
                        <p>2 039:-</p>
                    </a>
                </li>
                <li class="item">
                    <a href="Item2.html">
                        <img src="https://assets.mmsrg.com/isr/166325/c1/-/pixelboxx-mss-81871316/fee_786_587_png/SAMSUNG-Galaxy-A10---Svart">
                        <p>1690:-</p>
                    </a>
                </li>
                <li class="item">
                    <a href="Item3.html">
                        <img src="https://cdn.cdon.com/media-dynamic/images/product/Monitors/000/046/491/529/46491529-59307419-11452-xtrab.jpg">
                        <p>5790:-</p>
                    </a>
                </li>
                <li class="item">
                    <a href="Item4.html">
                        <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/fyndvaror/hem-hushall/andersson-x-wmr-2-5(X1009323)_369614_2_Normal_Large.webp">
                        <p>239:-</p>
                    </a>
                </li>
                <li class="item">
                    <a href="Item5.html">
                        <img src="https://scale.coolshop-cdn.com/product-media.coolshop-cdn.com/AM7FP6/4cad85232214402eae87001319cf95ce.jpeg/f/streaming-mic-pcst-200-nacon.jpeg?width=580">
                        <p>399:-</p>
                    </a>
                </li>
            </ul>
        </div>

        <footer>
            <div class="footer-div">
                <p><small>&copy;2020 DIT834 Group 6</small></p>
            </div>
        </footer>
    </div>
</body>
</html>