<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaupa | Item1</title>

    <link rel="stylesheet" href="../CSS/base.css" />
    
    <script src="../JS/stickynav.js"></script>
</head>

<body>
    <div class="container">
        <header class="main-header">
            <a class="site-logo" href="../Index.html">
                <img class="site-logo-image" src="../Resources/Logo.png" alt="Logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Sök"  /> <!-- &#x1F50E; -->
            </div>
        </header>

        <div class="container body-content">
                    <a class="item" href="https://www.mediamarkt.se/sv/product/_samsung-galaxy-a10-svart-1317628.html">
                        <h1>SAMSUNG Galaxy A10 - Svart</h1>
                        <img src="https://assets.mmsrg.com/isr/166325/c1/-/pixelboxx-mss-81871316/fee_786_587_png/SAMSUNG-Galaxy-A10---Svart">
                        <p>1690:-</p>
                    </a>
                    <button type="submit">Reservera</button>
            <p>Säljare: Media Markt</p>
        </div>

        <footer>
            <div class="footer-div">
                <p><small>&copy;2020 DIT834 Group 6</small></p>
            </div>
        </footer>
    </div>
</body>
</html>