<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaupa | Item1</title>

    <link rel="stylesheet" href="../CSS/base.css" />
    
    <script src="../JS/stickynav.js"></script>
</head>

<body>
    <div class="container">
        <header class="main-header">
            <a class="site-logo" href="../Index.html">
                <img class="site-logo-image" src="../Resources/Logo.png" alt="Logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Sök"  /> <!-- &#x1F50E; -->
            </div>
        </header>

        <div class="container body-content">
                    <a class="item" href="https://www.elgiganten.se/product/outlet/gaming-fyndvaror/79129/steelseries-apex-pro-tangentbord-for-gaming">
                        <h1>Steelseries Apex Pro Tangentbord För Gaming</h1>
                        <img src="https://www.elgiganten.se/image/dv_web_D180001002281018/79129/steelseries-apex-pro-tangentbord-foer-gaming.jpg?$fullsize$">
                        <p>2 039:-</p>
                    </a>
                    <button type="submit">Reservera</button>
            <p>Säljare: Elgiganten</p>
            <br>
            <p class="state">Skick (State): Lite repor på undersidan</p>
        </div>

        <footer>
            <div class="footer-div">
                <p><small>&copy;2020 DIT834 Group 6</small></p>
            </div>
        </footer>
    </div>
</body>
</html>