<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaupa | Item1</title>

    <link rel="stylesheet" href="../CSS/base.css" />
    
    <script src="../JS/stickynav.js"></script>
</head>

<body>
    <div class="container">
        <header class="main-header">
            <a class="site-logo" href="../Index.html">
                <img class="site-logo-image" src="../Resources/Logo.png" alt="Logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Sök"  /> <!-- &#x1F50E; -->
            </div>
        </header>

        <div class="container body-content">
                    <a class="item" href="https://cdon.se/hemelektronik/lg-32-32gk850g-qhd-va-g-sync-p46491529">
                        <h1>LG 32'' 32GK850G QHD VA G-Sync</h1>
                        <img src="https://cdn.cdon.com/media-dynamic/images/product/Monitors/000/046/491/529/46491529-59307419-11452-xtrab.jpg">
                        <p>5790:-</p>
                    </a>
                    <button type="submit">Reservera</button>
            <p>Säljare: Cdon</p>
        </div>

        <footer>
            <div class="footer-div">
                <p><small>&copy;2020 DIT834 Group 6</small></p>
            </div>
        </footer>
    </div>
</body>
</html>